{% extends "base.njk" %}
{% block titulo %}Zona protegida admin{% endblock %}
{% block contenido %}
    <h1>Zona protegida admin</h1>
    <p>Zona de acceso restringido para usuarios de tipo "admin".</p>
{% endblock %}